{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

 <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Login</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">pages</a></li>
                           <li class="active-breadcromb"><a href="#">Login</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Login Area Start -->
      <section class="jobguru-login-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="login-box">
                     <div class="login-title">
                        <h3>Sign in</h3>
                     </div>
                     <form method="post">
                        <div class="single-login-field">
                         
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                        </div>
                        <div class="single-login-field">
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>

                         {% if error%} 
                           <div class="alert alert-danger msg" role="alert">
                                 Email ou mot de pas inconnu 
                              </div>
                           {% endif %}
                        <div class="remember-row single-login-field clearfix">
                   <p class="checkbox remember">
                              <input class="checkbox-spin" type="checkbox" name="_remember_me" id="Freelance">
                              <label for="Freelance"><span></span>Keep Me Signed In</label>
                    </p>
                   <p class="lost-pass">
                              <a href="#">forgot password?</a>
                           </p>
                        </div>
                         <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                              >
                        <div class="single-login-field">
                           <button type="submit">Sign in</button>
                        </div>
                     </form>
                     <div class="dont_have">
                        <a href="{{path('app_register')}}">Don't have an account?</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Login Area End -->
       

    
{% endblock %}
