{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Inscription</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">pages</a></li>
                           <li class="active-breadcromb"><a href="#">Inscription</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Login Area Start -->
      <section class="jobguru-login-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="login-box">
                     <div class="login-title">
                        <h3>S'inscrire</h3>
                     </div>
                               
                            {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.raison_social) }}
                                {{ form_row(registrationForm.description) }}
                                {{ form_row(registrationForm.adresse) }}
                                {{ form_row(registrationForm.ville) }}
                                {{ form_row(registrationForm.pays) }}
                                {{ form_row(registrationForm.numero_telephone) }}
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.plainPassword) }}

                                <button class="btn">Register</button>
                            {{ form_end(registrationForm) }}
                     
                    
                     <div class="dont_have">
                        <a href="{{path('app_login')}}">Already have an account?</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Login Area End -->




{% endblock %}
