{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %}   
       
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Dashboard</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">employer</a></li>
                           <li class="active-breadcromb"><a href="#">Dashboard</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Candidate Dashboard Area Start -->
      <section class="candidate-dashboard-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-lg-3 dashboard-left-border">
                  <div class="dashboard-left">
                     <ul class="dashboard-menu">
                        <li class="active">
                           <a href="employer-dashboard.html">
                           <i class="fa fa-tachometer"></i>
                           Dashboard
                           </a>
                        </li>
                        <li><a href="{{path('info_company')}}"><i class="fa fa-briefcase"></i>Entreprise Profil</a></li>
                        <li><a href="{{path('etudiants')}}"><i class="fa fa-briefcase"></i>Gestion de candidates</a></li>
                        <li><a href="{{path('offre_create',{'id':app.user.id})}}"><i class="fa fa-envelope-open"></i>Créer offre </a></li>
                        <li><a href="{{path('password_change',{'id':app.user.id})}}"><i class="fa fa-lock"></i>changer mot de passe</a></li>
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-12 col-lg-9">
                  <div class="dashboard-right">
                     <div class="welcome-dashboard">
                        <h3>Bienvenue chez <span>{{app.user.getRaisonSocial()}} !</span></h3>
                     </div>
                     <div class="row">
                        <div class="col-lg-4 col-md-12">
                           <div class="widget_card_page grid_flex widget_bg_blue">
                              <div class="widget-icon">
                                 <i class="fa fa-gavel"></i>
                              </div>
                              <div class="widget-page-text">
                                 <h4>1426</h4>
                                 <h2>nouvelles offres</h2>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                           <div class="widget_card_page grid_flex  widget_bg_purple">
                              <div class="widget-icon">
                                 <i class="fa fa-usd"></i>
                              </div>
                              <div class="widget-page-text">
                                 <h4>$12,000</h4>
                                 <h2> Paiement</h2>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                           <div class="widget_card_page grid_flex widget_bg_dark_red">
                              <div class="widget-icon">
                                 <i class="fa fa-users"></i>
                              </div>
                              <div class="widget-page-text">
                                 <h4>127</h4>
                                 <h2>Candidats</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Candidate Dashboard Area End -->
       
       
           
       
{% endblock %}

