{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %} 
       
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Browse Candidates</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">employers</a></li>
                           <li class="active-breadcromb"><a href="#">Liste des étudiants</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Top Job Area Start -->
      <section class="jobguru-top-job-area browse-page section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-lg-3">
                  <div class="job-grid-sidebar">
                     <!-- Single Job Sidebar Start -->
                     <div class="single-job-sidebar sidebar-location">
                        <h3>lieu</h3>
                        <div class="job-sidebar-box">
                           <form>
                              <p>
                                 <input type="search" placeholder="Lieu">
                              </p>
                              <p class="location-value">
                                 <input type="text" value="50">
                              </p>
                              <div class="dropdown">
                                 <button class="btn-dropdown dropdown-toggle" type="button" id="location" data-toggle="dropdown" aria-haspopup="true">km</button>
                                 <ul class="dropdown-menu" aria-labelledby="location">
                                    <li>km</li>
                                    <li>miles</li>
                                 </ul>
                              </div>
                           </form>
                        </div>
                     </div>
                     <!-- Single Job Sidebar End -->
                      
                     <!-- Single Job Sidebar Start -->
                     <div class="single-job-sidebar sidebar-keywords">
                        <h3>mots clés</h3>
                        <div class="job-sidebar-box">
                           <form>
                              <select class="sidebar-category-select" name="states[]" multiple="multiple">
                                 <option value="1">comptabilité</option>
                                 <option value="2">finance</option>
                                 <option value="3">informatique</option>
                                 <option value="4">construction</option>
                                 <
                              </select>
                           </form>
                        </div>
                     </div>
                     <!-- Single Job Sidebar End -->
                      
                 
                      
                
                      
                     <!-- Single Job Sidebar Start -->
                     <div class="single-job-sidebar sidebar-salary">
                        <h3>Filtré par salaire</h3>
                        <div class="job-sidebar-box">
                           <p>
                              <input type="text" id="amount" readonly>
                           </p>
                           <div id="slider"></div>
                        </div>
                     </div>
                     <!-- Single Job Sidebar End -->
                  </div>
               </div>
               <div class="col-md-12 col-lg-9">
                  <div class="job-grid-right">
                     <div class="browse-job-head-option">
                        <div class="job-browse-search">
                           <form>
                              <input type="search" placeholder="Chercher étudiants...">
                              <button type="submit"><i class="fa fa-search"></i></button>
                           </form>
                        </div>
                        <div class="job-browse-action">
                           <div class="email-alerts">
                              <input type="checkbox" class="styled" id="b_1">
                              <label class="styled" for="b_1">m'alerter par mail </label>
                           </div>
                           <div class="dropdown">
                              <button class="btn-dropdown dropdown-toggle" type="button" id="dropdowncur" data-toggle="dropdown" aria-haspopup="true">trié part</button>
                              <ul class="dropdown-menu" aria-labelledby="dropdowncur">
                                 <li>spécialité</li>
                                 <li>ville</li>
                                 <li>Random</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <!-- end job head -->
                     <div class="candidate-list-page">
                       
                       
                    {% for etudiant in etudiants %}   
                        <div class="single-candidate-list">
                           <div class="main-comment">
                              <div class="candidate-image">
                                 <img src="assets/img/c1.png" alt="author">
                              </div>
                              <div class="candidate-text">
                                 <div class="candidate-info">
                                    <div class="candidate-title">
                                       <h3><a href="#">{{etudiant.nom ~ " "~etudiant.prenom}}</a></h3>
                                       
                                    </div>
                                    <p>{{etudiant.specialite}}</p>
                                 </div>
                                 <div class="candidate-text-inner">
                                    <p> {{etudiant.info}}</p>
                                 </div>
                                 <div class="candidate-text-bottom">
                                    <div class="candidate-text-box">
                                       <p class="open-icon"><i class="	fa fa-envelope"></i> {{etudiant.email}}</p>
                                       <p class="company-state"><i class="fa fa-map-marker"></i> Tours</p>
                                       <p class="varify"><i class="fa fa-volume-control-phone"></i> {{etudiant.getNumeroTelephone()}}</p>
                                    </div>
                                    <div class="candidate-action">
                                       <a href="#" class="jobguru-btn-2">voir profil</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Single Candidate List -->
                    {%endfor%}
                        
                     </div>
                     <div class="pagination-box-row">
                        <p>Page 1 of 6</p>
                        <ul class="pagination">
                           <li class="active"><a href="#">1</a></li>
                           <li><a href="#">2</a></li>
                           <li><a href="#">3</a></li>
                           <li>...</li>
                           <li><a href="#">6</a></li>
                           <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Top Job Area End -->
       
       
  {% endblock %}

