{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %}
       
      <!--Home Video Start-->
      <section class="home-video-banner parallax" data-src="assets/img/slider-1.jpeg" data-jarallax-video="https://www.youtube.com/watch?v=dk9uNWPP7EA&list=PL7cdQfbJcOxP_Ii2ifE-8NXj_qP1Mzb7a',containment:'#welcome-video', showControls:false, autoPlay:true, mute:true, loop:true, startAt:0, quality:'default', opacity:1,}">
         <div class="banner-area">
            <div class="banner-caption container">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12 col-sm-12 content-home">
                        <div class="banner-welcome">
                           <h4>plus de <span>100,000+</span>stages qui n'attendent que vous</h4>
                           <form method="POST" action="{{path('rechercheStage')}}">
                              <div class="video-banner-input">
                                 <input type="text" name="titre" placeholder="titre du stage ou mot clé">
                              </div>
                              <div class="video-banner-input">
                                 <input type="text" name="ville" placeholder="City, State or ZIP">
                              </div>
                              <div class="video-banner-input">
                                 <button type="submit"><i class="fa fa-search"></i></button>
                              </div>
                           </form>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--Home Video End-->
       
       
      <!-- Top Job Area Start -->
      <section class="jobguru-top-job-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="site-heading">
                     <h2>superbes <span>offres</span></h2>
                     <p>Un grand nombres de stages est référencé sur ce site. La recherche est facile et très simple. Vous pouvez trouvez en 2-3 clicks le stage qui vous intéresse dans le domaine voulu</p>
                  </div>
               </div>
            </div>
            <div class="row">
             {% for offre in offres%}
                  <div class="col-lg-4 col-md-12">
                     <div class="sigle-top-job">
                        <div class="top-job-company-image">
                           <div class="company-logo-img">
                              <a href="#">
                              <img src="{{asset('assets/img/c1.png')}}" alt="company image" />
                              </a>
                           </div>
                           <h3><a href="#">{{offre.titre}}</a></h3>
                        </div>
                        <div class="top-job-company-desc">
                           <ul>
                              <li>Location <span class="company-state"><i class="fa fa-map-marker"></i> {{offre.lieu}}</span></li>
                              <li>salaire <span class="open-icon"><i class="fa fa-credit-card-alt"></i>{{offre.salaire}}</span></li>
                              <li>statut <span class="varify"><i class="fa fa-check"></i>{{offre.statut}}</span></li>
                           </ul>
                           <div class="top-job-company-btn">
                              <a href="{{path('offre_show',{'id':offre.id})}}" class="jobguru-btn-2">Postuler</a>
                           </div>
                        </div>
                     </div>
                  </div>
               
               
              
              {%endfor%}
               
            <div class="row">
               <div class="col-md-12">
                  <div class="load-more">
                     <a href="#" class="jobguru-btn">Afficher plus d'offres</a>
                  </div>
               </div>
          
            </div>
       
         </div>
      </section>
      <!-- Top Job Area End -->
       
       
      <!-- Video Area Start -->
      <section class="jobguru-video-area section_100">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="video-container">
                     <h2>Trouver en seulement quelques secondes votre stage sur <br> Guistage.</h2>
                     <div class="video-btn">
                        <a class="popup-youtube" href=#>
                        <i class="fa fa-play"></i>
                        comment ça marche!
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Video Area End -->
       
       
     
       
     
       
{% endblock %}