{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %}

      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Entreprise Profil
                        </h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Candidate Dashboard Area Start -->
      <section class="candidate-dashboard-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-lg-3 dashboard-left-border">
                  <div class="dashboard-left">
                     <ul class="dashboard-menu">
                        <li><a href="{{path('info_company')}}"><i class="fa fa-briefcase"></i>Entreprise Profil</a></li>
                        <li><a href="{{path('etudiants')}}"><i class="fa fa-briefcase"></i>Gestion de candidates</a></li>
                        <li><a href="{{path('offre_create',{'id':app.user.id})}}"><i class="fa fa-envelope-open"></i>Créer une offre </a></li>
                        <li><a href="{{path('password_change',{'id':app.user.id})}}"><i class="fa fa-lock"></i>changer mot de passe</a></li>
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-12 col-lg-9">
                  <div class="dashboard-right">
                     <div class="candidate-profile">
                        <div class="candidate-single-profile-info">
                           <div class="single-resume-feild resume-avatar">
                              <div class="resume-image company-resume-image">
                                 <img src="assets/img/company_page_logo.jpg" alt="resume avatar">
                                 <div class="resume-avatar-hover">
                                    <div class="resume-avatar-upload">
                                       <p>
                                          <i class="fa fa-pencil"></i>
                                          Edit
                                       </p>
                                       <input type="file">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="candidate-single-profile-info">
                           <form>
                              <div class="resume-box">
                                 <h3>Entreprise profil</h3>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="name">Entreprise Titre:</label>
                                       <input type="text" value="Jennie Wilson" id="name">
                                    </div>
                                    <div class="single-input">
                                       <label for="c_cat">Categorié:</label>
                                       <select id="c_cat">
                                          <option selected>Choose Category</option>
                                          <option>IT Service</option>
                                          <option>Non-Profit</option>
                                          <option>StartUP</option>
                                          <option>Corporate</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="Start">Start:</label>
                                       <input type="text" value="1990" id="Start">
                                    </div>
                                    <div class="single-input">
                                       <label for="member">Employés:</label>
                                       <input type="text" value="132" id="member">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="Location">Pays:</label>
                                       <input type="text" value="London" id="Location">
                                    </div>
                                    <div class="single-input">
                                       <label for="City">Ville:</label>
                                       <input type="text" value="Westminster" id="City">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild ">
                                    <div class="single-input">
                                       <label for="Bio">Description:</label>
                                       <textarea id="Bio">Maecenas is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</textarea>
                                    </div>
                                 </div>
                              </div>
                              <div class="resume-box">
                                 <h3>Contacts/Cordonnées</h3>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="Phone">Tel:</label>
                                       <input type="text" value="+88-123-4467-9" id="Phone">
                                    </div>
                                    <div class="single-input">
                                       <label for="Email">Email:</label>
                                       <input type="text" value="demo@mail.com" id="Email">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="contry">Pays:</label>
                                       <select id="contry">
                                          <option>Arab Amirats</option>
                                          <option>America</option>
                                          <option>Netherlands</option>
                                          <option>Russia</option>
                                          <option selected>Bangladesh</option>
                                          <option>India</option>
                                          <option>Pakistan</option>
                                          <option>Brazil</option>
                                          <option>Africa</option>
                                       </select>
                                    </div>
                                    <div class="single-input">
                                       <label for="City2">Ville:</label>
                                       <input type="text" value="Dhaka" id="City2">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="Zip">Code postal:</label>
                                       <input type="text" value="6100" id="Zip">
                                    </div>
                                    <div class="single-input">
                                       <label for="Address22">Adresse:</label>
                                       <input type="text" value="New york city,22/A Street,01" id="Address22">
                                    </div>
                                 </div>
                              </div>
                              <div class="resume-box">
                                 <h3>Lien social</h3>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="twitter">
                                       <i class="fa fa-twitter twitter"></i>
                                       twitter
                                       </label>
                                       <input type="text" value="https://www.twitter.com/" id="twitter" name="twitter">
                                    </div>
                                    <div class="single-input">
                                       <label for="twitter">
                                       <i class="fa fa-facebook facebook"></i>
                                       facebook
                                       </label>
                                       <input type="text" value="https://www.facebook.com/" id="facebook" name="facebook">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="google">
                                       <i class="fa fa-google-plus google"></i>
                                       Google
                                       </label>
                                       <input type="text" value="https://www.google.com/" id="google" name="twitter">
                                    </div>
                                    <div class="single-input">
                                       <label for="linkedin">
                                       <i class="fa fa-linkedin linkedin"></i>
                                       linkedin
                                       </label>
                                       <input type="text" value="https://www.linkedin.com/" id="linkedin" name="twitter">
                                    </div>
                                 </div>
                              </div>
                              <div class="submit-resume">
                                 <button type="submit">Mise à jour</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Candidate Dashboard Area End -->
      
{% endblock %}       