<!DOCTYPE html>
<html lang="fr-FR">
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="jobguru | Job Board HTML Templates from Themescare">
      <meta name="keyword" content="Job, freelancer, employee, marketplace">
      <meta name="author" content="Themescare">
      <!-- Title -->
      <title>{% block title %} {% endblock %}</title>
      <!-- Favicon -->
      <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon/favicon-32x32.png')}}"-->
       <!--link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/logo.jpg')}}"-->
      <!--Bootstrap css-->
      <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css')}}">
      <!--Font Awesome css-->
      <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css')}}">
      <!--Magnific css-->
      <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css')}}">
      <!--Owl-Carousel css-->
      <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css')}}">
      <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css')}}">
      <!--Animate css-->
      <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css')}}">
      <!--Select2 css-->
      <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css')}}">
      <!--Slicknav css-->
      <link rel="stylesheet" href="{{ asset('assets/css/slicknav.min.css')}}">
      <!--Bootstrap-Datepicker css-->
      <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.min.css')}}">
      <!--Jquery UI css-->
      <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css')}}">
      <!--Perfect-Scrollbar css-->
      <link rel="stylesheet" href="{{ asset('assets/css/perfect-scrollbar.min.css')}}">
      <!--Site Main Style css-->
      <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
      <!--Responsive css-->
      <link rel="stylesheet" href="{{ asset('assets/css/responsive.css')}}">
 
    
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      
      <!-- Header Area Start -->
      <header class="jobguru-header-area stick-top forsticky">
         <div class="menu-animation">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-2">
                     <div class="site-logo">
                        <a href="{{path('home')}}">
                        <img src="{{ asset('build/assets/img/c1.jpg')}}" alt="guistage logo" class="non-stick-logo" />
                        
                        </a>
                     </div>
                     <!-- Responsive Menu Start -->
                     <div class="jobguru-responsive-menu"></div>
                     <!-- Responsive Menu Start -->
                  </div>
                  <div class="col-lg-6">
                     <div class="header-menu">
                        <nav id="navigation">
                           <ul id="jobguru_navigation">
                              <li >
                                 <a href="#">home</a>
                              </li>
                             
                           {% if not app.user or  app.user.type=="Etudiant" %}  
                             <li class=" has-children">
                                    <a href="#">Espace étudiant</a>
                                    <ul>
                                    {% if not app.user%}
                                    
                                       <li><a href={{path('app_login')}}>Se connecter</a></li>
                                       <li><a href="{{path('app_register')}}">S'inscrire</a></li>
                                    {%else%}
                                          {% if  app.user.type=="Etudiant"%}
                                             <li><a href="{{path('app_logout')}}">Se déconnecter</a></li>
                                             <li><a href="{{path('info_person')}}">Infos Personnelles</a></li>
                                             <li><a href="{{path('manage_jobs')}}">Offres Management</a></li>
                                             <li><a href="{{path('schedule')}}">Emploi du temps</a></li>
                                             
                                          {%endif%}
                                    {%endif%}
                                    
                                    </ul>
                                 </li>
                           {%endif%}
                             
                            
                           {% if not app.user or  app.user.type=="Entreprise" %}  
                                 <li class="has-children">
                                    <a href="#">Espace recruteur</a>
                                    <ul>
                                    {% if not app.user%}
                                       <li><a href={{path('app_login')}}>Se connecter</a></li>
                                       <li><a href={{path('register_Recru')}}>S'inscrire</a></li>
                                    {%else%}
                                       {% if  app.user.type=="Entreprise"%}
                                          <li><a href="{{path('info_company')}}">Entreprise Profil</a></li>
                                          <li><a href="{{path('etudiants')}}">Gestion candidates</a></li>
                                          <li><a href="{{path('offre_create',{'id':app.user.id})}}">Créer offre </a></li>
                                          <li><a href="{{path('app_logout')}}">Se déconnecter</a></li>

                                    {%endif%} 
									      {% endif%}									
                                    </ul>
                                 </li>
                           {%endif%}
                             
                           </ul>
                        </nav>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="header-right-menu">
                     {% if  app.user and app.user.type=="Entreprise"%}
                        <ul>
                           <li><a href="{{path('offre_create',{'id':app.user.id})}}" class="post-jobs">Créer offre</a></li>
                           <!--li><a href="register.html"><i class="fa fa-user"></i>sign up</a></li-->
                           <!--li><a href="login.html"><i class="fa fa-lock"></i>login</a></li-->
                        </ul>
                     {%endif%}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- Header Area End -->
       
      
            {% block body %}{% endblock %}
       

       
        {% block javascripts %}{% endblock %}


      <!-- Footer Area Start -->
      <footer class="jobguru-footer-area">
         <div class="footer-top section_50">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-md-6">
                     <div class="single-footer-widget">
                        <div class="footer-logo">
                           <a href="index.html">
                           <img src="{{asset('assets/img/c1.jpg')}}" alt="guistage logo" />
                           </a>
                        </div>
                        <p>Guistage est le site tendance actuellement pour trouver un stage</p>
                        <ul class="footer-social">
                           <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                           <li><a href="#" class="skype"><i class="fa fa-skype"></i></a></li>
                        </ul>
                     </div>
                  </div>
                 
                  <div class="col-lg-3 col-md-6">
                     <div class="single-footer-widget">
                        <h3>main links</h3>
                        <ul>
                           <li><a href="#"><i class="fa fa-angle-double-right "></i> à propos</a></li>
                           <li><a href="#"><i class="fa fa-angle-double-right "></i> Service client</a></li>
                           <li><a href="#"><i class="fa fa-angle-double-right "></i> Nous contacter</a></li>
                           
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="single-footer-widget footer-contact">
                        <h3>Contact Info</h3>
                        <p><i class="fa fa-map-marker"></i> polytech Tours, Avenue portalis </p>
                        <p><i class="fa fa-phone"></i> 00236 </p>
                        <p><i class="fa fa-envelope-o"></i> info@guistage.com</p>
                
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-copyright">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="copyright-left">
                        <p>Copyright &copy; 2018 Themescare. All Rights <a href="http://www.17sucai.com/">Reserved</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer Area End -->
       
       
      <!--Jquery js-->
      <script src="{{ asset('assets/js/jquery-3.0.0.min.js')}}"></script>
      <!--Popper js-->
      <script src="{{ asset('assets/js/popper.min.js')}}"></script>
      <!--Bootstrap js-->
      <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
      <!--Bootstrap Datepicker js-->
      <script src="{{ asset('assets/js/bootstrap-datepicker.min.js')}}"></script>
      <!--Perfect Scrollbar js-->
      <script src="{{ asset('assets/js/jquery-perfect-scrollbar.min.js')}}"></script>
      <!--Owl-Carousel js-->
      <script src="{{ asset('assets/js/owl.carousel.min.js')}}"></script>
      <!--SlickNav js-->
      <script src="{{ asset('assets/js/jquery.slicknav.min.js')}}"></script>
      <!--Magnific js-->
      <script src="{{ asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
      <!--Select2 js-->
      <script src="{{ asset('assets/js/select2.min.js')}}"></script>
      <!--jquery-ui js-->
      <script src="{{ asset('assets/js/jquery-ui.min.js')}}"></script>
      <!--Jarallax js-->
      <script src="{{ asset('assets/js/jarallax.min.js')}}"></script>
      <script src="{{ asset('assets/js/jarallax-video.min.js')}}"></script>
      <!--Main js-->
      <script src="{{ asset('assets/js/main.js')}}"></script>
   </body>
</html>
