{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %}

       
       
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Ajouter une offre de stage</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">Employeur</a></li>
                           <li class="active-breadcromb"><a href="#">Ajouter offre</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Candidate Dashboard Area Start -->
      <section class="candidate-dashboard-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-lg-3 dashboard-left-border">
                  <div class="dashboard-left">
                     <ul class="dashboard-menu">
                        <li><a href="{{path('info_company')}}"><i class="fa fa-briefcase"></i>Entreprise Profil</a></li>
                        <li><a href="{{path('etudiants')}}"><i class="fa fa-briefcase"></i>Gestion de candidates</a></li>
                        <li><a href="{{path('offre_create',{'id':app.user.id})}}"><i class="fa fa-envelope-open"></i>Créer une offre </a></li>
                        <li><a href="{{path('password_change',{'id':app.user.id})}}"><i class="fa fa-lock"></i>changer mot de passe</a></li>
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-12 col-lg-9">
                  <div class="dashboard-right">
                     <div class="earnings-page-box manage-jobs">
                        <div class="manage-jobs-heading">
                           <h3>Ajouter une nouvelle offre</h3>
                        </div>
                        <div class="new-job-submission">
                             {% form_theme OffreForm 'bootstrap_4_layout.html.twig' %}

                            {{ form_start(OffreForm) }}
                                 {{ form_row(OffreForm.titre) }}
                                {{ form_row(OffreForm.statut) }}
                                {{ form_row(OffreForm.salaire) }}
                                {{ form_row(OffreForm.lieu) }}
                                {{ form_row(OffreForm.contenu) }}
                                {{ form_row(OffreForm.paye) }}
                                <button class="btn">Ajouter</button>
                            {{ form_end(OffreForm) }}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Candidate Dashboard Area End -->
       
       
{% endblock %}

