
{% extends 'base.html.twig' %}
{% block title %}Offre n°xxx !{% endblock %}
{% block body %}

     
       
      <!-- Single Candidate Start -->
      <section class="single-candidate-page section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-9 col-lg-6">
                  <div class="single-candidate-box">
                     <div class="single-candidate-img">
                        <img src="{{asset('assets/img/c1.jpg')}}" alt="guistage logo" />
                     
                     </div>
                     <div class="single-candidate-box-right">
                        <h4>{{offre.titre}}</h4>
                        <img src="http://themescare.com/demos/jobguru/assets/img/pl.svg" alt="region" />
                        <p>{{entreprise.nom}}</p>
                        <div class="job-details-meta">
                           <p><i class="fa fa-file-text"></i> phase 1</p>
                           <p><i class="fa fa-calendar"></i> {{offre.date | date('d/m/y')}}</p>
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
      </section>
      <!-- Single Candidate End -->
       
       
      <!-- Single Candidate Bottom Start -->
      <section class="single-candidate-bottom-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-8 col-lg-9">
                  <div class="single-candidate-bottom-left">
                     <div class="single-candidate-widget">
                        <h3> Description du stage</h3>
                        <p>{{offre.contenu}}</p>
                     </div>
                
                  </div>
               </div>
               <div class="col-md-4 col-lg-3">
                  <div class="single-candidate-bottom-right">
                
                     <div class="single-candidate-widget-2">
                        <h3>Détail du stage</h3>
                        <ul class="job-overview">
                           <li>
                              <h4><i class="fa fa-briefcase"></i> Salaire</h4>
                              <p>{{offre.salaire}}</p>
                           </li>
                           <li>
                              <h4><i class="fa fa-map-marker"></i> Lieu</h4>
                              <p>{{offre.lieu}}</p>
                           </li>
                           <li>
                              <h4><i class="fa fa-thumb-tack"></i> Type de stage</h4>
                              <p>{{offre.statut}}</p>
                           </li>
                           <li>
                              <h4><i class="fa fa-clock-o"></i> Date de post</h4>
                              <p>{{offre.date | date('d/m/y')}}</p>
                           </li>

                            <li>
                              <h4><i class="fa fa-envelope-square"></i> Contacter  par mail</h4>
                              <p>{{entreprise.email}}</p>
                           </li>
                            <li>
                              <h4><i class="fa fa-volume-control-phone"></i> Contacter par téléphone</h4>
                              <p>{{entreprise.getNumeroTelephone()}}</p>
                           </li>
                        </ul>
                     </div>
        
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Single Candidate Bottom End -->
{% endblock %}