
{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %}
      <!--Font Awesome css-->
      <link rel="stylesheet" href="assets/css/font-awesome.min.css">
      <!--Magnific css-->
      <link rel="stylesheet" href="assets/css/magnific-popup.css">
      <!--Owl-Carousel css-->
      <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
      <!--Animate css-->
      <link rel="stylesheet" href="assets/css/animate.min.css">
      <!--Select2 css-->
      <link rel="stylesheet" href="assets/css/select2.min.css">
      <!--Slicknav css-->
      <link rel="stylesheet" href="assets/css/slicknav.min.css">
      <!--Bootstrap-Datepicker css-->
      <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
      <!--Jquery UI css-->
      <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
      <!--Perfect-Scrollbar css-->
      <link rel="stylesheet" href="assets/css/perfect-scrollbar.min.css">
      <!--Site Main Style css-->
      <link rel="stylesheet" href="assets/css/style.css">
      <!--Responsive css-->
      <link rel="stylesheet" href="assets/css/responsive.css">
      <link rel="stylesheet" href="assets/css/calendar.css">
   <style>
   	#cal-slide-content a.event-item{
   		color: #6b739c;
   	}
   	.page-header{
   		margin: 0px;
   		border-bottom: 0px;
   	}
   </style>


      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Dashboard</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       


      <!-- Candidate Dashboard Area Start -->
      <section class="candidate-dashboard-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-12 dashboard-left-border">
                  <div class="dashboard-left">
                     <ul class="dashboard-menu">

                        <li><a href="{{path('info_person')}}"><i class="fa fa-briefcase"></i>Mon Profil</a></li>
                        <li><a href="{{path('manage_jobs')}}"><i class="fa fa-briefcase"></i>Gestion d'offres</a></li>
                        <li class="active"><a href="{{path('schedule')}}"><i class="fa fa-briefcase"></i>Emploi du temps</a></li>
                        <li><a href="{{path('etudiant_password_change',{'id':app.user.id})}}"><i class="fa fa-lock"></i>changer mot de passe</a></li>
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-9 col-md-12">
                    <div class="dashboard-right">


				<div class="submit-resume-box" style="margin-left: 0px;">
                  <div class="page-header">

                     <div class="pull-right form-inline">
                        <div class="btn-group">
                           <button class="btn btn-primary" data-calendar-nav="prev"><< Prev</button>
                           <button class="btn" data-calendar-nav="today">Today</button>
                           <button class="btn btn-primary" data-calendar-nav="next">Next >></button>
                        </div>
                        <div class="btn-group">
                           <button class="btn btn-warning" data-calendar-view="year">Year</button>
                           <button class="btn btn-warning active" data-calendar-view="month">Month</button>
                           <button class="btn btn-warning" data-calendar-view="week">Week</button>
                           <button class="btn btn-warning" data-calendar-view="day">Day</button>
                        </div>
                     </div>

                     <h3></h3>
                     <small>To see example with events navigate to march 2013</small>
                  </div>

                  <div class="row">
                     <div class="span9">
                        <div id="calendar"></div>
                     </div>
                     <div class="span9" style="margin-top: 20px;">
                        <div class="row-fluid">
                           <select id="first_day" class="span6">
                              <option value="" selected="selected">First day of week language-dependant</option>
                              <option value="2">First day of week is Sunday</option>
                              <option value="1">First day of week is Monday</option>
                           </select>
                           <select id="language" class="span6">
                              <option value="">Select Language (default: fr_FR)</option>
                              <option value="fr-FR">French</option>
                              <option value="de-DE">German</option>
                              <option value="it-IT">Italian</option>
                              <option value="es-ES">Spanish (Spain)</option>
                              <option value="ru-RU">Russian</option>
                              <option value="zh-CN">简体中文</option>
                              <option value="zh-TW">繁體中文</option>
                              <option value="ko-KR">한국어</option>
                           </select>
                           <label class="checkbox">
                              <input type="checkbox" value="#events-modal" id="events-in-modal"> Open events in modal
                              window
                           </label>
                           <label class="checkbox">
                              <input type="checkbox" id="format-12-hours"> 12 Hour format
                           </label>
                           <label class="checkbox">
                              <input type="checkbox" id="show_wb" checked> Show week box
                           </label>
                           <label class="checkbox">
                              <input type="checkbox" id="show_wbn" checked> Show week box number
                           </label>
                        </div>

                        <!--<h4>Events</h4>
						<small>This list is populated with events dynamically</small>-->
                        <ul style="display: none;" id="eventlist" class="nav nav-list"></ul>
                     </div>
                  </div>

                  <div class="clearfix"></div>
                  <br><br>
                  <br><br>
               </div>

                  	</div>
                </div>
                </div>
            </div>
         </div>
      </section>
      <!-- Candidate Dashboard Area End -->


      {% block javascripts %}
         <script src="assets/js/jquery-3.0.0.min.js"></script>
         <script src="assets/js/underscore-min.js"></script>
         <script src="assets/js/bootstrapxz.min.js"></script>
         <script src="assets/js/calendar.js"></script>
         <script src="assets/js/app.js"></script>
      {% endblock %}
{% endblock %}