
{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %}

      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Dashboard</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Candidate Dashboard Area Start -->
      <section class="candidate-dashboard-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-12 dashboard-left-border">
                  <div class="dashboard-left">
                     <ul class="dashboard-menu">
         
                        <li class="active"><a href="{{path('info_person')}}"><i class="fa fa-briefcase"></i>Mon Profil</a></li>
                        <li><a href="{{path('manage_jobs')}}"><i class="fa fa-briefcase"></i>Gestion d'offres</a></li>
                        <li><a href="{{path('schedule')}}"><i class="fa fa-briefcase"></i>Emploi du temps</a></li>
                        <li><a href="{{path('etudiant_password_change',{'id':app.user.id})}}"><i class="fa fa-lock"></i>changer mot de passe</a></li>
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-9 col-md-12">
                  <div class="dashboard-right">
                     <div class="candidate-profile">
                        <div class="candidate-single-profile-info">
                           <div class="single-resume-feild resume-avatar">
                              <div class="resume-image">
                                 <img src="assets/img/author.jpg" alt="resume avatar">
                                 <div class="resume-avatar-hover">
                                    <div class="resume-avatar-upload">
                                       <p>
                                          <i class="fa fa-pencil"></i>
                                          Edit
                                       </p>
                                       <input type="file">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="candidate-single-profile-info">
                           <form>
                              <div class="resume-box">
                                 <h3>Mon Profil</h3>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="name">Nom:</label>
                                       <input type="text" value="Jennie Wilson" id="name">
                                    </div>
                                    <div class="single-input">
                                       <label for="p_title">Poste:</label>
                                       <input type="text" value="Web Developer" id="p_title">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="Region">Languages:</label>
                                       <select id="Region">
                                          <option selected>Anglais</option>
                                          <option>Français</option>
                                          <option>Chinois</option>
                                       </select>
                                    </div>
                                    <div class="single-input">
                                       <label for="Age">Age:</label>
                                       <input type="text" value="25" id="Age">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">

                                 </div>
                                 <div class="single-resume-feild ">
                                    <div class="single-input">
                                       <label for="Bio">Introduction:</label>
                                       <textarea id="Bio">Écrire ici votre phrase.</textarea>
                                    </div>
                                 </div>
                              </div>
                              <div class="resume-box">
                                 <h3>Information Contact</h3>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="Phone">Téléphone:</label>
                                       <input type="text" value="+88-123-4467-9" id="Phone">
                                    </div>
                                    <div class="single-input">
                                       <label for="Email">Émail:</label>
                                       <input type="text" value="demo@mail.com" id="Email">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="contry">Pay:</label>
                                       <select id="contry">
                                          <option>Arab Amirats</option>
                                          <option>America</option>
                                          <option>Netherlands</option>
                                          <option>Russia</option>
                                          <option selected>Bangladesh</option>
                                          <option>India</option>
                                          <option>Pakistan</option>
                                          <option>Brazil</option>
                                          <option>Africa</option>
                                       </select>
                                    </div>
                                    <div class="single-input">
                                       <label for="City">Ville:</label>
                                       <input type="text" value="Dhaka" id="City">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="Zip">Code postale:</label>
                                       <input type="text" value="6100" id="Zip">
                                    </div>
                                    <div class="single-input">
                                       <label for="Address22">Adresse:</label>
                                       <input type="text" value="New york city,22/A Street,01" id="Address22">
                                    </div>
                                 </div>
                              </div>
                              <div class="resume-box">
                                 <h3>Liens sociaux</h3>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="twitter">
                                       <i class="fa fa-twitter twitter"></i>
                                       twitter
                                       </label>
                                       <input type="text" value="https://www.twitter.com/" id="twitter" name="twitter">
                                    </div>
                                    <div class="single-input">
                                       <label for="twitter">
                                       <i class="fa fa-facebook facebook"></i>
                                       facebook
                                       </label>
                                       <input type="text" value="https://www.twitter.com/" id="facebook" name="facebook">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="google">
                                       <i class="fa fa-google-plus google"></i>
                                       Google
                                       </label>
                                       <input type="text" value="https://www.google.com/" id="google" name="twitter">
                                    </div>
                                    <div class="single-input">
                                       <label for="linkedin">
                                       <i class="fa fa-linkedin linkedin"></i>
                                       linkedin
                                       </label>
                                       <input type="text" value="https://www.linkedin.com/" id="linkedin" name="twitter">
                                    </div>
                                 </div>
                              </div>
                              <div class="submit-resume">
                                 <button type="submit">Valider</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Candidate Dashboard Area End -->
       
{% endblock %}