{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %}
   
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Change Password</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">candidates</a></li>
                           <li class="active-breadcromb"><a href="#">Change Password</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Candidate Dashboard Area Start -->
      <section class="candidate-dashboard-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-12 dashboard-left-border">
                  <div class="dashboard-left">
                     <ul class="dashboard-menu">

                        <li><a href="{{path('info_person')}}"><i class="fa fa-briefcase"></i>Mon Profil</a></li>
                        <li><a href="{{path('manage_jobs')}}"><i class="fa fa-briefcase"></i>Gestion d'offres</a></li>
                        <li><a href="{{path('schedule')}}"><i class="fa fa-briefcase"></i>Emploi du temps</a></li>
                        <li class="active"><a href="{{path('etudiant_password_change',{'id':app.user.id})}}"><i class="fa fa-lock"></i>changer mot de passe</a></li>
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-9 col-md-12">
                  <div class="dashboard-right">
                     <div class="change-pass manage-jobs">
                        <div class="manage-jobs-heading">
                           <h3>Changer mot de pass</h3>
                        </div>
                        <form>
                           <p>
                              <label for="old_pass">Ancien Mot de Passe</label>
                              <input type="password" placeholder="*******" id="old_pass">
                           </p>
                           <p>
                              <label for="new_pass">Nouveau Mot de Passe</label>
                              <input type="password" placeholder="*******" id="new_pass">
                           </p>
                           <p>
                              <label for="confirm_pass">confirmer Mot de Passe</label>
                              <input type="password" placeholder="*******" id="confirm_pass">
                           </p>
                           <p>
                              <button type="submit">Valider</button>
                           </p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Candidate Dashboard Area End -->
       
{% endblock %}       