
{% extends 'base.html.twig' %}
{% block title %}Guistage !{% endblock %}
{% block body %}
  
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Dashboard</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Candidate Dashboard Area Start -->
      <section class="candidate-dashboard-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-12 dashboard-left-border">
                  <div class="dashboard-left">
                     <ul class="dashboard-menu">
                        <li><a href="{{path('info_person')}}"><i class="fa fa-briefcase"></i>Mon Profil</a></li>
                        <li><a href="message.html"><i class="fa fa-envelope-open"></i>messages</a></li>
                        <li class="active"><a href="{{path('manage_jobs')}}"><i class="fa fa-briefcase"></i>Gestion d'offres</a></li>
                        <li><a href="{{path('schedule')}}"><i class="fa fa-briefcase"></i>Emploi du temps</a></li>
                        <li><a href="{{path('etudiant_password_change',{'id':app.user.id})}}"><i class="fa fa-lock"></i>changer mot de passe</a></li>
                        <li><a href="{{path('app_logout')}}"><i class="fa fa-power-off"></i>Se déconnecter</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-9 col-md-12">
                  <div class="dashboard-right">
                     <div class="manage-jobs">
                        <div class="manage-jobs-heading">
                           <h3>My Job Listing</h3>
                        </div>
                        <div class="single-manage-jobs table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th>Title</th>
                                    <th>Posted on </th>
                                    <th>Expiring on </th>
                                    <th>Status</th>
                                    <th>action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Frontend React Developer</a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="pending">Pending Approval</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Full Stack PHP Developer </a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="expired">Expired</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Node.js Developer</a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="pending">Pending Approval</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Frontend React Developer</a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="pending">Pending Approval</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Full Stack PHP Developer </a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="expired">Expired</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Node.js Developer</a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="pending">Pending Approval</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Frontend React Developer</a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="pending">Pending Approval</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Full Stack PHP Developer </a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="expired">Expired</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="manage-jobs-title"><a href="#">Node.js Developer</a></td>
                                    <td class="table-date">28 June, 2018</td>
                                    <td class="table-date">10 July, 2018</td>
                                    <td><span class="pending">Pending Approval</span></td>
                                    <td class="action">
                                       <a href="#" class="action-edit"><i class="fa fa-pencil-square-o"></i></a>
                                       <a href="#" class="action-delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <div class="pagination-box-row">
                              <p>Page 1 of 6</p>
                              <ul class="pagination">
                                 <li class="active"><a href="#">1</a></li>
                                 <li><a href="#">2</a></li>
                                 <li><a href="#">3</a></li>
                                 <li>...</li>
                                 <li><a href="#">6</a></li>
                                 <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Candidate Dashboard Area End -->
       
       
      <!--Jquery js-->
      <script src="assets/js/jquery-3.0.0.min.js"></script>
      <!--Popper js-->
      <script src="assets/js/popper.min.js"></script>
      <!--Bootstrap js-->
      <script src="assets/js/bootstrap.min.js"></script>
      <!--Bootstrap Datepicker js-->
      <script src="assets/js/bootstrap-datepicker.min.js"></script>
      <!--Perfect Scrollbar js-->
      <script src="assets/js/jquery-perfect-scrollbar.min.js"></script>
      <!--Owl-Carousel js-->
      <script src="assets/js/owl.carousel.min.js"></script>
      <!--SlickNav js-->
      <script src="assets/js/jquery.slicknav.min.js"></script>
      <!--Magnific js-->
      <script src="assets/js/jquery.magnific-popup.min.js"></script>
      <!--Select2 js-->
      <script src="assets/js/select2.min.js"></script>
      <!--jquery-ui js-->
      <script src="assets/js/jquery-ui.min.js"></script>
      <!--Custom-Scrollbar js-->
      <script src="assets/js/custom-scrollbar.js"></script>
      <!--Main js-->
      <script src="assets/js/main.js"></script>
   </body>
</html>

{% endblock %}